# üöó Control de Suministros  
## Modelo de Datos para un Taller de Repuestos

---

## 1. Contexto del Ejercicio

Para darle un poco de coherencia al dise√±o del modelo, planteamos el escenario de que somos un **taller y tienda de repuestos de veh√≠culos**. Nuestro negocio consiste en comprar piezas a distintos **fabricantes y distribuidores**, y posteriormente venderlas tanto a particulares como a otros talleres.

Esta actividad requiere manejar una gran variedad de repuestos y controlar qui√©n nos los suministra, en qu√© cantidad y en qu√© fecha. Por ello, disponer de un modelo de datos bien estructurado es fundamental para asegurar la trazabilidad, el control de calidad y la correcta gesti√≥n de inventario.

---

## 2. Primer Boceto del Modelo

Antes de construir el modelo completo hicimos un **primer boceto sencillo** para visualizar las entidades principales y comprobar c√≥mo podr√≠an relacionarse entre s√≠.

<p align="center">
  <img src="./img/boceto_inicial.jpg" alt="Boceto inicial" width="1200">
</p>

Este boceto nos permiti√≥ identificar los elementos esenciales del sistema: proveedores, piezas, categor√≠as y suministros.

---

## 3. Profundizaci√≥n del Modelo

Una vez tuvimos clara la estructura b√°sica, revisamos el boceto y **le dimos mayor profundidad**, ampliando los atributos, las relaciones y el detalle de cada entidad.

<p align="center">
  <img src="./img/diagrama_detallado.png" alt="Diagrama detallado" width="1400">
</p>
<p style="text-align: center;">Creado en
  <a href="https://www.drawdb.app">Drawdb</a>
</p>


Gracias a esta fase, el modelo pas√≥ de ser un esquema conceptual b√°sico a un dise√±o m√°s completo y preparado para su implementaci√≥n.

---

## 4. Entidades del Modelo

A continuaci√≥n se describen las entidades que forman parte del sistema y su funci√≥n.

### üè¢ Proveedor (Fabricante)

Almacena informaci√≥n sobre los fabricantes o distribuidores que nos suministran piezas.

**Atributos:**
- C√≥digo de proveedor (PK)
- Nombre
- Telefono
- Email
- Direcci√≥n
- Ciudad

### üîß Pieza

Representa cada repuesto que tenemos en stock o vendemos.

**Atributos:**
- C√≥digo de pieza (PK)
- Nombre
- Color
- Precio
- Categor√≠a (FK a Categor√≠a)

### üóÇÔ∏è Categor√≠a (tipo_de_piezas)

Agrupa las piezas por tipo o funci√≥n.

**Atributos:**
- C√≥digo de categor√≠a (PK)
- Nombre
- tipo_vehiculo

### üì¶ Suministro (Fabricante_compra)

Registra cada entrega o lote de piezas que recibimos.

**Atributos:**
- C√≥digo de proveedor (FK)
- C√≥digo de pieza (FK)
- Fecha del suministro
- Cantidad suministrada
- Fecha

---

## 5. Relaciones del Modelo

- **Proveedor** (1) ‚Äî (N) **Suministro**  
- **Pieza** (1) ‚Äî (N) **Suministro**  
- **Categor√≠a** (1) ‚Äî (N) **Pieza**

Con estas relaciones es posible:
- Saber qu√© proveedor suministra cada pieza.
- Registrar fechas y cantidades de cada lote.
- Clasificar cada pieza dentro de su categor√≠a correspondiente.

---

## 6. Ejemplo de Datos

### Proveedor
| cod_proveedor | nombre        | ciudad | provincia |
|---------------|----------------|--------|-----------|
| P001          | AutoParts SA   | Madrid | Madrid    |

### Pieza
| cod_pieza | nombre       | color | precio | cod_categoria |
|-----------|---------------|--------|---------|----------------|
| F123      | Filtro aire   | Negro | 12.50  | CAT02          |

### Categor√≠a
| cod_categoria | nombre      |
|---------------|--------------|
| CAT02         | Filtraci√≥n   |

### Suministro
| cod_proveedor | cod_pieza | fecha       | cantidad |
|---------------|------------|-------------|-----------|
| P001          | F123       | 2025-01-14  | 40        |

---

## 7. Conclusi√≥n

El modelo de datos dise√±ado permite controlar:

- La trazabilidad de cada lote recibido.
- La relaci√≥n entre proveedores y piezas.
- La clasificaci√≥n de repuestos por categor√≠a.
- La gesti√≥n eficiente del inventario y la calidad.

Adem√°s, sirve como base s√≥lida para ampliar el sistema con m√≥dulos de stock, ventas o facturaci√≥n.

****BONUS****

In [1]:
import pandas as pd
import sqlite3

In [2]:
db = "ejer_piezas_mecanica.db"
conn = sqlite3.connect(db)

In [3]:
fabricante_dict = {
    "proveedor_id": list(range(1, 11)),
    "Nombre": ["Bosch", "Valeo", "Denso", "Hella", "Magneti Marelli", "ZF", "NGK", "Philips", "Continental", "Delphi"],
    "Telefono": ["600111222","600222333","600333444","600444555","600555666","600666777","600777888","600888999","600999111","600123456"],
    "Email": [
        "info@bosch.com","contact@valeo.com","denso@mail.jp","support@hella.de",
        "ventas@marelli.it","info@zf.com","ngk@mail.jp","soporte@philips.com",
        "contact@continental.com","ventas@delphi.com"],
    "Direccion": [f"Calle {i}" for i in range(1, 11)],
    "Ciudad": ["Madrid","Paris","Tokyo","Berlin","Roma","Madrid","Lisboa","Barcelona","Sevilla","Munich"]
}

fabricante = pd.DataFrame(fabricante_dict)
fabricante

,proveedor_id,Nombre,Telefono,Email,Direccion,Ciudad
0,1,Bosch,600111222,info@bosch.com,Calle 1,Madrid
1,2,Valeo,600222333,contact@valeo.com,Calle 2,Paris
2,3,Denso,600333444,denso@mail.jp,Calle 3,Tokyo
3,4,Hella,600444555,support@hella.de,Calle 4,Berlin
4,5,Magneti Marelli,600555666,ventas@marelli.it,Calle 5,Roma
5,6,ZF,600666777,info@zf.com,Calle 6,Madrid
6,7,NGK,600777888,ngk@mail.jp,Calle 7,Lisboa
7,8,Philips,600888999,soporte@philips.com,Calle 8,Barcelona
8,9,Continental,600999111,contact@continental.com,Calle 9,Sevilla
9,10,Delphi,600123456,ventas@delphi.com,Calle 10,Munich

In [4]:
tipo_piezas_dict = {
    "categoria_id": list(range(1, 11)),
    "Nombre": ["Motor", "Frenos", "Iluminaci√≥n", "Escape", "Suspensi√≥n", "Filtro", "Carrocer√≠a", "Electr√≥nica", "Direcci√≥n", "Bater√≠a"],
    "Tipo_vehiculo": ["Coche","Moto","Cami√≥n","Coche","Coche","Moto","Coche","Cami√≥n","Moto","Coche"]
}

tipo_piezas = pd.DataFrame(tipo_piezas_dict)
tipo_piezas

   categoria_id       Nombre Tipo_vehiculo
0             1        Motor         Coche
1             2       Frenos          Moto
2             3  Iluminaci√≥n        Cami√≥n
3             4       Escape         Coche
4             5   Suspensi√≥n         Coche
5             6       Filtro          Moto
6             7   Carrocer√≠a         Coche
7             8  Electr√≥nica        Cami√≥n
8             9    Direcci√≥n          Moto
9            10      Bater√≠a         Coche

In [5]:
piezas_dict = {
    "piezas_id": list(range(1, 11)),
    "Nombre": [
        "Buj√≠a","Pastillas de freno","Bombilla LED","Tubo escape","Amortiguador",
        "Filtro aire","Paragolpes","Sensor ABS","Volante","Bater√≠a 12V"
    ],
    "Color": ["Plateado","Negro","Blanco","Gris","Negro","Blanco","Negro","Plateado","Negro","Azul"],
    "Precio": [15, 60, 25, 90, 120, 30, 200, 70, 150, 110],
    "categoria_id": list(range(1, 11))
}

piezas = pd.DataFrame(piezas_dict)
piezas

   piezas_id              Nombre     Color  Precio  categoria_id
0          1               Buj√≠a  Plateado      15             1
1          2  Pastillas de freno     Negro      60             2
2          3        Bombilla LED    Blanco      25             3
3          4         Tubo escape      Gris      90             4
4          5        Amortiguador     Negro     120             5
5          6         Filtro aire    Blanco      30             6
6          7          Paragolpes     Negro     200             7
7          8          Sensor ABS  Plateado      70             8
8          9             Volante     Negro     150             9
9         10         Bater√≠a 12V      Azul     110            10

In [6]:
import random

fabricante_compra_dict = {
    "compra_id": list(range(1, 11)),
    "proveedor_id": [random.choice(range(1, 11)) for i in range(10)],
    "piezas_id": list(range(1, 11)),
    "Cantidad": [random.randint(20, 150) for i in list(range(1, 11))],
    "Fecha": pd.to_datetime(["2025-01-11", "2025-01-15", "2025-01-19", "2025-01-22", "2025-01-26",
        "2025-02-02", "2025-02-08", "2025-02-12", "2025-02-20", "2025-02-28"])    
}

fabricante_compra = pd.DataFrame(fabricante_compra_dict)
fabricante_compra

   compra_id  proveedor_id  piezas_id  Cantidad      Fecha
0          1             1          1       124 2025-01-11
1          2            10          2       125 2025-01-15
2          3             9          3       106 2025-01-19
3          4             2          4        50 2025-01-22
4          5             8          5        62 2025-01-26
5          6             1          6        48 2025-02-02
6          7             5          7        48 2025-02-08
7          8             9          8        68 2025-02-12
8          9             4          9        78 2025-02-20
9         10             9         10        34 2025-02-28

In [7]:
stock_dict = {
    "stock_id": list(range(1, 10+1)),
    "piezas_id": list(range(1, 10+1)),
    "Cantidad": [random.randint(5, 200) for i in range(10)]
}

stock = pd.DataFrame(stock_dict)
stock

   stock_id  piezas_id  Cantidad
0         1          1        82
1         2          2       188
2         3          3       128
3         4          4       149
4         5          5        59
5         6          6        78
6         7          7       111
7         8          8       122
8         9          9        41
9        10         10        77

In [8]:
clientes_dict = {
    "cliente_id": list(range(1, 11)),
    "Nombre": ["Carlos Perez","Pedro Gil","Ana Mart√≠n","Alejandro Rubio","Helena Gutierrez",
               "Martin S√°nchez","Carlos Se√±or","Luc√≠a S√°nchez","Luc√≠a Gomez","Sofia Gonz√°lez"],
    "Email": [f"user{i}@correo.com" for i in range(1, 11)],
    "Telefono": ["600111458","600222632","600333148","600444025","600555864","600666426","600777001","600888445","600999786","600120331"],
    "Direccion": [f"Avenida {i}" for i in range(1, 11)],
    "Ciudad": ["Madrid","Barcelona","Valencia","Madrid","Bilbao","Toledo","Murcia","Madrid","Sevilla","Granada"],
    "Provincia": ["Madrid","Catalu√±a","Valencia","Madrid","Pa√≠s Vasco","Castilla La Mancha","Murcia","Madrid","Andaluc√≠a","Andaluc√≠a"]
}

clientes = pd.DataFrame(clientes_dict)
clientes

,cliente_id,Nombre,Email,Telefono,Direccion,Ciudad,Provincia
0,1,Carlos Perez,user1@correo.com,600111458,Avenida 1,Madrid,Madrid
1,2,Pedro Gil,user2@correo.com,600222632,Avenida 2,Barcelona,Catalu√±a
2,3,Ana Mart√≠n,user3@correo.com,600333148,Avenida 3,Valencia,Valencia
3,4,Alejandro Rubio,user4@correo.com,600444025,Avenida 4,Madrid,Madrid
4,5,Helena Gutierrez,user5@correo.com,600555864,Avenida 5,Bilbao,Pa√≠s Vasco
5,6,Martin S√°nchez,user6@correo.com,600666426,Avenida 6,Toledo,Castilla La Mancha
6,7,Carlos Se√±or,user7@correo.com,600777001,Avenida 7,Murcia,Murcia
7,8,Luc√≠a S√°nchez,user8@correo.com,600888445,Avenida 8,Madrid,Madrid
8,9,Luc√≠a Gomez,user9@correo.com,600999786,Avenida 9,Sevilla,Andaluc√≠a
9,10,Sofia Gonz√°lez,user10@correo.com,600120331,Avenida 10,Granada,Andaluc√≠a

In [9]:
ventas_dict = {
    "venta_id": list(range(1, 11)),
    "piezas_id": [random.choice(range(1, 11)) for i in range(10)],
    "cliente_id": [random.choice(range(1, 11)) for i in range(10)],
    "Precio_total": [random.randint(20, 300) for i in range(10)],
    "Fecha_venta": pd.to_datetime(["2025-03-01", "2025-03-03", "2025-03-05", "2025-03-07", "2025-03-10",
        "2025-03-14", "2025-03-18", "2025-03-21", "2025-03-26", "2025-04-01"])
}

ventas = pd.DataFrame(ventas_dict)
ventas

   venta_id  piezas_id  cliente_id  Precio_total Fecha_venta
0         1          3           3            99  2025-03-01
1         2          9           8           194  2025-03-03
2         3          5           1           153  2025-03-05
3         4         10           2            57  2025-03-07
4         5          6           3           201  2025-03-10
5         6          5           4           154  2025-03-14
6         7          8          10            87  2025-03-18
7         8          5           6           275  2025-03-21
8         9          5           4           215  2025-03-26
9        10          5           9            31  2025-04-01

In [10]:
movimiento_stock_dict = {
    "movimiento_id": list(range(1, 11)),
    "piezas_id": [2,5,3,1,8,4,9,6,7,10],
    "tipo_movimiento": ["Salida", "Salida", "Salida", "Salida", "Salida", "Salida", "Salida", "Salida", "Salida", "Salida"],
    "Cantidad": [1,1,1,1,1,1,1,1,1,1],
    "Origen": ["Venta"] * 10,
    "origen_id": list(range(1, 11)),
    "fecha": pd.to_datetime(["2025-03-02", "2025-03-04", "2025-03-06", "2025-03-08", "2025-03-11",
        "2025-03-15", "2025-03-19", "2025-03-22", "2025-03-27", "2025-04-02"])
}

movimiento_stock = pd.DataFrame(movimiento_stock_dict)
movimiento_stock

,movimiento_id,piezas_id,tipo_movimiento,Cantidad,Origen,origen_id,fecha
0,1,2,Salida,1,Venta,1,2025-03-02
1,2,5,Salida,1,Venta,2,2025-03-04
2,3,3,Salida,1,Venta,3,2025-03-06
3,4,1,Salida,1,Venta,4,2025-03-08
4,5,8,Salida,1,Venta,5,2025-03-11
5,6,4,Salida,1,Venta,6,2025-03-15
6,7,9,Salida,1,Venta,7,2025-03-19
7,8,6,Salida,1,Venta,8,2025-03-22
8,9,7,Salida,1,Venta,9,2025-03-27
9,10,10,Salida,1,Venta,10,2025-04-02

In [11]:
fabricante.to_sql("Fabricante", conn, if_exists="replace", index=False)
tipo_piezas.to_sql("TipoPiezas", conn, if_exists="replace", index=False)
piezas.to_sql("Piezas", conn, if_exists="replace", index=False)
fabricante_compra.to_sql("Fabricante_compra", conn, if_exists="replace", index=False)
stock.to_sql("Stock", conn, if_exists="replace", index=False)
clientes.to_sql("Clientes", conn, if_exists="replace", index=False)
ventas.to_sql("Ventas", conn, if_exists="replace", index=False)
movimiento_stock.to_sql("MovimientoStock", conn, if_exists="replace", index=False)

10

In [12]:
conn.execute("PRAGMA foreign_keys = ON;")

In [13]:
cursor = conn.cursor()

In [14]:
cursor.execute("DROP TABLE IF EXISTS Fabricante")
cursor.execute("DROP TABLE IF EXISTS TipoPiezas")
cursor.execute("DROP TABLE IF EXISTS Piezas")
cursor.execute("DROP TABLE IF EXISTS Fabricante_compra")
cursor.execute("DROP TABLE IF EXISTS Stock")
cursor.execute("DROP TABLE IF EXISTS Clientes")
cursor.execute("DROP TABLE IF EXISTS Ventas")
cursor.execute("DROP TABLE IF EXISTS MovimientoStock")

In [15]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Fabricante (
    proveedor_id INTEGER PRIMARY KEY,
    Nombre VARCHAR(100),
    Telefono NUMERIC,
    Email VARCHAR(100),
    Direccion VARCHAR(100),
    Ciudad VARCHAR(100)
                         
)
''')

In [16]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Clientes (
    cliente_id INTEGER PRIMARY KEY,
    Nombre VARCHAR(255),
    Email VARCHAR(255),
    Telefono INTEGER,
    Direccion VARCHAR(255),
    Ciudad VARCHAR(255),
    Provincia VARCHAR(255)

)
''')

In [17]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Fabricante_compra (
    compra_id INTEGER PRIMARY KEY,
    proveedor_id INTEGER,
    piezas_id INTEGER,
    cantidad INTEGER,
    fecha DATATIME,
    FOREIGN KEY (proveedor_id) REFERENCES fabricante(proveedor_id),
    FOREIGN KEY (piezas_id) REFERENCES piezas(piezas_id)
)
''')

In [18]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Ventas (
    venta_id INTEGER PRIMARY KEY,
    piezas_id INTEGER,
    cliente_id INTEGER,
    Precio_total INTEGER,
    Fecha_venta DATETIME,
    FOREIGN KEY (cliente_id) REFERENCES Clientes(cliente_id),
    FOREIGN KEY (piezas_id) REFERENCES piezas(piezas_id)

)
''')

In [19]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS TipoPiezas (
    categoria_id INTEGER PRIMARY KEY,
    Nombre VARCHAR(100),
    Tipo_vehiculo VARCHAR(100)
)
''')

In [20]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Piezas (
    piezas_id INTEGER PRIMARY KEY,
    Nombre VARCHAR(100),
    Color VARCHAR(255),
    Precio INTEGER,
    categoria_id INTEGER,
    FOREIGN KEY (categoria_id) REFERENCES TipoPiezas(categoria_id)

)
''')

In [21]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS MovimientoStock (
    movimiento_id INTEGER PRIMARY KEY,
    piezas_id INTEGER,
    tipo_movimiento VARCHAR(255),
    Cantidad INTEGER,
    Origen VARCHAR(255),
    origen_id INTEGER,
    fecha DATETIME,
    FOREIGN KEY (origen_id) REFERENCES Fabricante_compra(compra_id),
    FOREIGN KEY (piezas_id) REFERENCES Piezas(piezas_id),
    FOREIGN KEY (origen_id) REFERENCES fabricante_compra(compra_id)
)
''')

In [22]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Stock (
    stock_id INTEGER PRIMARY KEY,
    piezas_id INTEGER,
    Cantidad INTEGER,
    FOREIGN KEY (piezas_id) REFERENCES Piezas(piezas_id)
)
''')

In [23]:
tipo_piezas.to_sql('TipoPiezas', conn, if_exists='append', index=False)
piezas.to_sql('Piezas', conn, if_exists='append', index=False)
fabricante.to_sql('Fabricante', conn, if_exists='append', index=False)
fabricante_compra.to_sql('Fabricante_compra', conn, if_exists='append', index=False)
movimiento_stock.to_sql('MovimientoStock', conn, if_exists='append', index=False)
clientes.to_sql('Clientes', conn, if_exists='append', index=False)
ventas.to_sql('Ventas', conn, if_exists='append', index=False)
stock.to_sql('Stock', conn, if_exists='append', index=False)

10

In [28]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
tablas = [t[0] for t in cursor.fetchall()]

print("Tablas encontradas:", tablas, "\n")

# Mostrar el contenido de cada tabla
for tabla in tablas:
    print(f"--- Contenido de la tabla: {tabla} ---")
    df = pd.read_sql_query(f"SELECT * FROM {tabla};", conn)
    print(df)
    print("\n")

Tablas encontradas: ['Fabricante', 'Clientes', 'Fabricante_compra', 'Ventas', 'TipoPiezas', 'Piezas', 'MovimientoStock', 'Stock']

--- Contenido de la tabla: Fabricante ---
   proveedor_id           Nombre   Telefono                    Email  \
0             1            Bosch  600111222           info@bosch.com
1             2            Valeo  600222333        contact@valeo.com
2             3            Denso  600333444            denso@mail.jp
3             4            Hella  600444555         support@hella.de
4             5  Magneti Marelli  600555666        ventas@marelli.it
5             6               ZF  600666777              info@zf.com
6             7              NGK  600777888              ngk@mail.jp
7             8          Philips  600888999      soporte@philips.com
8             9      Continental  600999111  contact@continental.com
9            10           Delphi  600123456        ventas@delphi.com

  Direccion     Ciudad
0   Calle 1     Madrid
1   Calle 2      Paris
2   Calle 3      Tokyo
3   Calle 4     Berlin
4   Calle 5       Roma
5   Calle 6     Madrid
6   Calle 7     Lisboa
7   Calle 8  Barcelona
8   Calle 9    Sevilla
9  Calle 10     Munich


--- Contenido de la tabla: Clientes ---
   cliente_id            Nombre              Email   Telefono   Direccion  \
0           1      Carlos Perez   user1@correo.com  600111458   Avenida 1
1           2         Pedro Gil   user2@correo.com  600222632   Avenida 2
2           3        Ana Mart√≠n   user3@correo.com  600333148   Avenida 3
3           4   Alejandro Rubio   user4@correo.com  600444025   Avenida 4
4           5  Helena Gutierrez   user5@correo.com  600555864   Avenida 5
5           6    Martin S√°nchez   user6@correo.com  600666426   Avenida 6
6           7      Carlos Se√±or   user7@correo.com  600777001   Avenida 7
7           8     Luc√≠a S√°nchez   user8@correo.com  600888445   Avenida 8
8           9       Luc√≠a Gomez   user9@correo.com  600999786   Avenida 9
9          10    Sofia Gonz√°lez  user10@correo.com  600120331  Avenida 10

      Ciudad           Provincia
0     Madrid              Madrid
1  Barcelona            Catalu√±a
2   Valencia            Valencia
3     Madrid              Madrid
4     Bilbao          Pa√≠s Vasco
5     Toledo  Castilla La Mancha
6     Murcia              Murcia
7     Madrid              Madrid
8    Sevilla           Andaluc√≠a
9    Granada           Andaluc√≠a


--- Contenido de la tabla: Fabricante_compra ---
   compra_id  proveedor_id  piezas_id  cantidad                fecha
0          1             1          1       124  2025-01-11 00:00:00
1          2            10          2       125  2025-01-15 00:00:00
2          3             9          3       106  2025-01-19 00:00:00
3          4             2          4        50  2025-01-22 00:00:00
4          5             8          5        62  2025-01-26 00:00:00
5          6             1          6        48  2025-02-02 00:00:00
6          7             5          7        48  2025-02-08 00:00:00
7          8             9          8        68  2025-02-12 00:00:00
8          9             4          9        78  2025-02-20 00:00:00
9         10             9         10        34  2025-02-28 00:00:00


--- Contenido de la tabla: Ventas ---
   venta_id  piezas_id  cliente_id  Precio_total          Fecha_venta
0         1          3           3            99  2025-03-01 00:00:00
1         2          9           8           194  2025-03-03 00:00:00
2         3          5           1           153  2025-03-05 00:00:00
3         4         10           2            57  2025-03-07 00:00:00
4         5          6           3           201  2025-03-10 00:00:00
5         6          5           4           154  2025-03-14 00:00:00
6         7          8          10            87  2025-03-18 00:00:00
7         8          5           6           275  2025-03-21 00:00:00
8         9          5           4           215  2025-03-26 00:00:00
9        10          5           9            31  2025-04-01 00:00:00


--- Contenido de la tabla: TipoPiezas ---
   categoria_id       Nombre Tipo_vehiculo
0             1        Motor         Coche
1             2       Frenos          Moto
2             3  Iluminaci√≥n        Cami√≥n
3             4       Escape         Coche
4             5   Suspensi√≥n         Coche
5             6       Filtro          Moto
6             7   Carrocer√≠a         Coche
7             8  Electr√≥nica        Cami√≥n
8             9    Direcci√≥n          Moto
9            10      Bater√≠a         Coche


--- Contenido de la tabla: Piezas ---
   piezas_id              Nombre     Color  Precio  categoria_id
0          1               Buj√≠a  Plateado      15             1
1          2  Pastillas de freno     Negro      60             2
2          3        Bombilla LED    Blanco      25             3
3          4         Tubo escape      Gris      90             4
4          5        Amortiguador     Negro     120             5
5          6         Filtro aire    Blanco      30             6
6          7          Paragolpes     Negro     200             7
7          8          Sensor ABS  Plateado      70             8
8          9             Volante     Negro     150             9
9         10         Bater√≠a 12V      Azul     110            10


--- Contenido de la tabla: MovimientoStock ---
   movimiento_id  piezas_id tipo_movimiento  Cantidad Origen  origen_id  \
0              1          2          Salida         1  Venta          1
1              2          5          Salida         1  Venta          2
2              3          3          Salida         1  Venta          3
3              4          1          Salida         1  Venta          4
4              5          8          Salida         1  Venta          5
5              6          4          Salida         1  Venta          6
6              7          9          Salida         1  Venta          7
7              8          6          Salida         1  Venta          8
8              9          7          Salida         1  Venta          9
9             10         10          Salida         1  Venta         10

                 fecha
0  2025-03-02 00:00:00
1  2025-03-04 00:00:00
2  2025-03-06 00:00:00
3  2025-03-08 00:00:00
4  2025-03-11 00:00:00
5  2025-03-15 00:00:00
6  2025-03-19 00:00:00
7  2025-03-22 00:00:00
8  2025-03-27 00:00:00
9  2025-04-02 00:00:00


--- Contenido de la tabla: Stock ---
   stock_id  piezas_id  Cantidad
0         1          1        82
1         2          2       188
2         3          3       128
3         4          4       149
4         5          5        59
5         6          6        78
6         7          7       111
7         8          8       122
8         9          9        41
9        10         10        77